hoist-pattern[]=postcss
hoist-pattern[]=pug # playground/vue > @vue/compiler-sfc
hoist-pattern[]=ts-node # playground/tailwind
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false
